.jumbotron{
	
	padding-top: 50px !important;
	padding-bottom: 7.5px !important;
	text-align: center;
}
.thumbnail{
	text-align: center;
}
.navbar-brand{
	padding-top: 5px;
	}
.img{
	padding-top: 10px;
}